.feed{
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}
.feed::-webkit-scrollbar{
    display: none;
}
.feed{
    -ms-overflow-style:none;
    scrollbar-width: none;
}
.feed__header{
    position: sticky;
    top:0;
    background-color: white;
    z-index:100;
    border: 1px solid var(--twitter-background);
    padding:15px 20px;
}

.feed__header > h2{
    font-size: 20px;
    font-weight: 800;
}
.btn__default{
    font-weight: 800 !important;
    color:white !important;
    background: #50b7f5 !important;
    border:none;
    padding:10px 20px;
    margin: 3em 1em;
    border-radius:1em;
    cursor: pointer
}
.no__data{
    color:#333;
    padding:10px 20px;
    margin:10px;
    border-left: 5px solid #ef8300;
    border-right: 5px solid #ef8300;
    background: #f5f2f2;
}